{% extends "base.html" %}

{% block body %}
    <a href="{% url 'crud:add' %}">登録画面へ</a>{# 追加する #}
    <form method="post" action="">
        <table border="1">
            <thead>
            <tr>
                <th>message</th>
                <th>種類</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>Goto</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.message }}</td>
                    <td>{{ message.type }}</td>
                    <td>{{ message.created_at }}</td>
                    <td>{{ message.updated_at }}</td>
                    <td><a href="{% url 'crud:edit' message.id %}">更新画面へ</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}