<!DOCTYPE html>
<html lang="en">
<title>
    Index Page
</title>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
</head>
<body>
<p>Hello Template!</p>
<p>
    <button type="button" onclick="MyFunction1()">Hello Template2!</button>

</p>
<p>Hello Template33!</p>

<p>
    {{ hour }}時{{ minite }}分です。<br>
    {{ message }}
</p>
<p>
    <a href="{% url 'hello:hello_world' %}">Move hello_world Page</a><br>
</p>
<p>
    <a href="{% url 'hello:hello_if' %}">Move If Page</a>
</p>
<p>
    <a href="{% url 'hello:hello_for' %}">Move For Page</a>
</p>
<p>
    <a href="{% url 'hello:hello_get_query' %}">Move Get_query Page</a>
</p>
<p>
    <a href="{% url 'hello:hello_forms' %}">Move Form Page</a>
</p>
<p>
    <a href="{% url 'hello:hello_forms2' %}">Move Form_Samples Page</a>
</p>
<p>
    <a href="{% url 'hello:hello_models' %}">Move Models Page</a>
</p>
<script type="text/javascript">
    function MyFunction1() {
        alert(moment(new Date()).format("YYYY-MM-DD HH:mm:SS"))
    }
</script>
</body>
</html>